.Header {
    background: #fff;
    border-bottom: 4px solid #1a1a1a;
    height: 60px;
    padding: 10px 20px;
    margin: 0;
}

.logo, .logo img {
    display: inline-block;
    height: 22px;
    width: 161px;
}

.title {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 700;
    margin-left: 24px;
    display: inline-block;
    position: relative;
    top: -4px;
}

.lessons {
    position: absolute;
    top: 8px;
    right: 0;
}

.lessons a {
    border: 2px solid #1a1a1a;
    min-width: 32px;
    padding: 8px;
    margin: 2px;
    color: #1a1a1a;
}

.lessons a.active {
    background-color: #1a1a1a;
    color: #fff;
}

.lessons p {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
}
