.code-box {
  width: 100%;
  padding: 0 0 10px 0;
  border-top: 1px solid #f2f2f2;
  display: inline-block;
  height: 100%;
}

#editor {
	height: 100%;
    position: relative;
}

.ReactCodeMirror, .CodeMirror {
	height: 100%;
}
.run-js {
    position: absolute;
    top: -5px;
    right: 5px;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}
